.App {
  text-align: center;
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.App-header-transition {
  transition: min-height 500ms ease-out;
  min-height: 10vh;
}
